<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indra App</title>
</head>
<body>
	<div style="text-align:center; padding: 0; margin: 0">
		<h1 font-family="monospace"> Welcome To INDRA Reporter API</h1>
		<p> Go to <strong>/api/</strong> route to access the API.</p>
        <!-- <a href="">Goto Dashboard</a> -->
        <form action="https://indradashboard.netlify.app/">
            <button>Go to Dashboard</button>
        </form>
        <br>
        <footer>&copy 2020 IndraApp <br> Made with ♥️</footer>
	</div>


	
</body>
</html>